/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
	 ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
	 ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
	 ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
	 ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
	 ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?a8fqeg");
	src: url("../fonts/icomoon.eot?a8fqeg#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?a8fqeg") format("truetype"), url("../fonts/icomoon.woff?a8fqeg") format("woff"), url("../fonts/icomoon.svg?a8fqeg#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-setting:before {
	content: "\e900";
}

.icon-delivery:before {
	content: "\e901";
}

.icon-menu:before {
	content: "\e902";
}

.icon-pin:before {
	content: "\e903";
}

.icon-table:before {
	content: "\e904";
}

.icon-money:before {
	content: "\e905";
}

.icon-book:before {
	content: "\e906";
}

.icon-list:before {
	content: "\e907";
}

.icon-check:before {
	content: "\e908";
}

.icon-ticket:before {
	content: "\e909";
}

.icon-info:before {
	content: "\e90a";
}

.icon-question:before {
	content: "\e90b";
}

.icon-search:before {
	content: "\e90d";
}

.top-list,
.list,
#nav,
.steps-box,
.new-list,
.list-w {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #8c8a86;
	background: #fff;
	font: 16px/1.2 "Assistant", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.gm-style img {
	max-width: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: inherit;
	font-weight: bold;
	margin: 0 0 .5em;
	color: inherit;
}

h1,
.h1 {
	font-size: 30px;
}

h2,
.h2 {
	font-size: 27px;
}

h3,
.h3 {
	font-size: 24px;
}

h4,
.h4 {
	font-size: 21px;
}

h5,
.h5 {
	font-size: 17px;
}

h6,
.h6 {
	font-size: 15px;
}

p {
	margin: 0 0 1em;
}

a {
	color: #8c8a86;
	text-decoration: none;
	display: block;
	-webkit-transition: color .3s ease-in, background .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, background .3s ease-in, opacity .3s ease-in;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	border: 0;
	border-bottom: 1px solid #b4b4b3;
	outline: none;
	width: 100%;
	padding: 2px 25px 2px 0;
	color: #565656;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: #333;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #b4b4b3;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #b4b4b3;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #b4b4b3;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #b4b4b3;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
	color: #b4b4b3;
}

textarea {
	resize: vertical;
	vertical-align: top;
	outline: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	outline: none;
	cursor: pointer;
}

#header {
	padding: 12px 0;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15);
	width: 100%;
}

.head-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.logo {
	min-width: 106px;
}

.top-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.top-list > li {
	position: relative;
	margin: 0 26px;
}

.top-list > li a {
	font-size: 14px;
	position: relative;
}

.top-list > li a.btn-first {
	padding: 0 0 0 30px;
}

.top-list > li a i {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 18px;
}

.top-list > li a span {
	display: block;
}

.top-list > li a:hover {
	color: #565656;
}

.top-list > li .circle {
	border-radius: 50%;
	position: absolute;
	right: -25px;
	top: -14px;
	width: 38px;
	height: 40px;
	overflow: hidden;
}

.top-list > li.active .open-list::before {
	-webkit-transform: translate(90px, 8px) rotate(-45deg);
	-ms-transform: translate(90px, 8px) rotate(-45deg);
	transform: translate(90px, 8px) rotate(-45deg);
}

.top-list > li.active .open-list::after {
	-webkit-transform: translate(14px, 8px) rotate(45deg);
	-ms-transform: translate(14px, 8px) rotate(45deg);
	transform: translate(14px, 8px) rotate(45deg);
}

.open-list {
	right: 14px;
	padding: 0 28px 0 0;
	position: static;
	right: 14px;
	top: 0;
	color: #565656;
	-webkit-transition: -webkit-transform .3s ease-in;
	transition: -webkit-transform .3s ease-in;
	transition: transform .3s ease-in;
	transition: transform .3s ease-in, -webkit-transform .3s ease-in;
}

.open-list::before,
.open-list::after {
	content: "";
	background: #333;
	position: absolute;
}

.open-list::before {
	width: 10px;
	height: 2px;
	-webkit-transform: translate(90px, 8px) rotate(45deg);
	-ms-transform: translate(90px, 8px) rotate(45deg);
	transform: translate(90px, 8px) rotate(45deg);
}

.open-list::after {
	width: 10px;
	height: 2px;
	-webkit-transform: translate(14px, 8px) rotate(-45deg);
	-ms-transform: translate(14px, 8px) rotate(-45deg);
	transform: translate(14px, 8px) rotate(-45deg);
}

.list {
	position: absolute;
	padding: 10px;
	width: 85%;
	margin: 10px 0;
	background: #fff;
	z-index: 1;
	border: 1px solid #8c8a86;
}

.list li {
	margin: 0 0 10px;
}

#wrapper {
	position: relative;
	overflow: hidden;
}

#main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.resize-active * {
	-webkit-transition: none !important;
	transition: none !important;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
}

.nav-opener {
	position: absolute;
	top: 2px;
	right: 5px;
	width: 13px;
	height: 12px;
}

.nav-opener i {
	font-size: 14px;
	font-weight: 600;
	color: #e37222;
}

.nav-active .nav-opener {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.nav-opener {
	top: 6px;
}

i {
	font-weight: 600;
}

.drop {
	padding: 25px 0;
}

.menu {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
	width: 50px;
	height: 100vh;
	position: absolute;
	background: #fff;
	z-index: 1;
}

.nav-active .menu {
	width: 160px;
}

.nav-active .menu #nav li a {
	padding: 12px 66px 12px 15px;
	box-sizing: border-box;
}

.nav-active .menu #nav li a.active,
.nav-active .menu #nav li a:hover,
.nav-active .menu #nav li a:focus {
	color: #e37222;
	border-right: 2px solid #e37222;
	box-sizing: border-box;
	padding: 12px 64px 12px 15px;
}

.nav-active .menu #nav li a .box-icon {
	opacity: 1;
	display: block;
	-webkit-transition: opacity .3s ease-in;
	transition: opacity .3s ease-in;
}

#nav li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 12px 0 12px 15px;
	box-sizing: border-box;
}

#nav li a i {
	font-size: 18px;
	font-weight: 600;
}

#nav li a.active,
#nav li a:hover,
#nav li a:focus {
	color: #e37222;
	border-right: 2px solid #e37222;
	box-sizing: border-box;
	padding: 12px 0 12px 15px;
}

#nav li a .box-icon {
	padding: 0 0 0 10px;
	letter-spacing: -.5px;
	opacity: 0;
	display: none;
}

.content-section {
	width: 98.5%;
	height: 100vh;
}

.content-section .container {
	padding: 0 0 0 70px;
}

.row-section {
	padding: 20px 0;
}

.row-section.big-block {
	padding: 15px 0;
}

.steps-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.steps-box li {
	margin: 0 24px 0 0;
	position: relative;
}

.steps-box li .txt {
	display: block;
	color: #00b7bd;
	padding: 0 15px 2px;
}

.steps-box li i {
	position: absolute;
	right: -26px;
	bottom: -15px;
	border-radius: 50%;
	padding: 4px;
}

.steps-box li i.all-bg {
	background: #00b7bd;
	color: #fff;
}

.steps-box li:nth-child(1) {
	border-bottom: 2px solid #00b7bd;
	width: 10%;
}

.steps-box li:nth-child(1) i {
	border: 2px solid #00b7bd;
}

.steps-box li:nth-child(2) {
	border-bottom: 2px solid #00b7bd;
	width: 30%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.steps-box li:nth-child(2) i {
	border: 2px solid #00b7bd;
}

.steps-box li:nth-child(3) {
	border-bottom: 2px solid #00b7bd;
	width: 30%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.steps-box li:nth-child(3) i {
	color: #00b7bd;
	border: 2px solid #00b7bd;
}

.steps-box li:nth-child(4) {
	border-bottom: 1px solid #b4b4b3;
	width: 30%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.steps-box li:nth-child(4) .txt {
	color: #b4b4b3;
}

.steps-box li:nth-child(4) i {
	color: #b4b4b3;
	border: 2px solid #b4b4b3;
}

.title {
	color: #00b7bd;
	border-bottom: 1px solid #e37222;
	display: inline-block;
	margin: 0 0 5px;
}

.title p {
	margin: 0 0 2px;
}

form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	margin: 0 -12px;
}

.col-i {
	max-width: 320px;
	width: 100%;
	padding: 0 12px;
}

.col-i .inpput-holder {
	display: block;
	position: relative;
}

.col-i .inpput-holder input {
	padding: 2px 20px 2px 0;
}

.col-i .inpput-holder i {
	position: absolute;
	right: 3px;
	top: 1px;
	font-size: 14px;
}

.col-i .holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.col-i .holder label {
	font-size: 14px;
}

.table-holder {
	padding: 5px 0;
}

table {
	width: 100%;
	text-align: left;
	color: #b4b4b3;
}

table.table {
	margin: 0 0 30px;
	position: relative;
}

table.table::before {
	content: "";
	position: absolute;
	width: 63%;
	min-width: 803px;
	bottom: -3px;
	right: 0;
	border-bottom: 1px solid #e6e6e5;
}

table .first {
	font-size: 14px;
	border-bottom: 1px solid #e6e6e5;
}

table .first td {
	padding: 0 0 4px;
}

table .first td .end {
	text-align: end;
	display: block;
	min-width: 55px;
}

table .first td .center-b {
	text-align: center;
}

table .first td .left-b {
	text-align: left;
}

table .first td:nth-child(1) {
	width: 12%;
}

table .first td:nth-child(2) {
	width: 6%;
}

table .first td:nth-child(3) {
	width: 10%;
}

table .first td:nth-child(4) {
	width: 4%;
}

table .first td:nth-child(5) {
	width: 30%;
	padding: 0 12px 4px 22px;
}

table .first td:nth-child(6) {
	width: 6%;
	padding: 0 15px 4px 0;
}

table .first td:nth-child(7) {
	width: 4%;
}

table .first td:nth-child(8) {
	width: 4%;
}

table .first td:nth-child(9) {
	width: 6%;
}

table .first td:nth-child(10) {
	width: 5%;
}

.center-b {
	text-align: center;
}

tbody .inpput-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	padding: 0 0 0 16px;
}

tbody .inpput-holder a {
	position: absolute;
	right: 5px;
	top: 4px;
	font-size: 12px;
}

tbody tr td {
	padding: 17px 5px;
}

.holder-button {
	text-align: end;
	font-size: 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.holder-button .clik-text {
	margin: 0 0 20px;
	position: relative;
	display: inline-block;
}

.holder-button .clik-text label {
	cursor: pointer;
}

.holder-button .clik-text label .green-txt {
	color: #00b7bd;
	border-bottom: 1px solid #00b7bd;
	display: inline-block;
}

.big-btn {
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	background: #eeaa79;
	padding: 10px 76px;
	font-size: 16px;
}

.big-btn:hover {
	box-shadow: 2px 2px 7px #333;
}

.b-border {
	display: inline-block;
	border-bottom: 1px solid #b4b4b3;
	padding: 2px 0;
	margin: 0 20px;
}

.end-b {
	text-align: end;
}

.end-b .box-check {
	position: relative;
	display: inline-block;
}

.end-b .box-check [type="checkbox"]:checked,
.end-b .box-check [type="checkbox"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.end-b .box-check [type="checkbox"]:checked + label,
.end-b .box-check [type="checkbox"]:not(:checked) + label {
	position: relative;
	cursor: pointer;
	font-size: 14px;
	padding-left: 40px;
	letter-spacing: -.5px;
	line-height: 1.6;
}

.end-b .box-check [type="checkbox"]:checked + label:before,
.end-b .box-check [type="checkbox"]:not(:checked) + label:before {
	content: "";
	position: absolute;
	left: 10px;
	top: .1em;
	width: 20px;
	height: 20px;
	border: 1px solid #b4b4b3;
	border-radius: 2px;
}

.end-b .box-check [type="checkbox"]:checked + label:after,
.end-b .box-check [type="checkbox"]:not(:checked) + label:after {
	content: "";
	position: absolute;
	left: 14px;
	top: 5px;
	width: 12px;
	height: 12px;
}

.end-b .box-check [type="checkbox"]:checked + label:after,
.end-b .box-check [type="checkbox"]:checked + label:before {
	content: "";
	position: absolute;
}

.end-b .box-check [type="checkbox"]:checked + label:after {
	background: #00b7bd;
	width: 12px;
	height: 2px;
	top: 12px;
	left: 9px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.end-b .box-check [type="checkbox"]:checked + label:before {
	background: #00b7bd;
	width: 25px;
	height: 2px;
	top: 8px;
	left: 15px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.end-b .box-check [type="checkbox"]:not(:checked) + label:after {
	background: transparent;
}

.clik-text [type="checkbox"] {
	width: 5%;
}

.clik-text [type="checkbox"]:checked,
.clik-text [type="checkbox"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.clik-text [type="checkbox"]:checked + label,
.clik-text [type="checkbox"]:not(:checked) + label {
	position: relative;
	cursor: pointer;
	font-size: 14px;
	padding-left: 40px;
	line-height: 1.6;
}

.clik-text [type="checkbox"]:checked + label:before,
.clik-text [type="checkbox"]:not(:checked) + label:before {
	content: "";
	position: absolute;
	left: 15px;
	top: .1em;
	width: 18px;
	height: 18px;
	border: 1px solid #b4b4b3;
	border-radius: 2px;
}

.clik-text [type="checkbox"]:checked + label:after,
.clik-text [type="checkbox"]:not(:checked) + label:after {
	content: "";
	position: absolute;
	left: 1.2em;
	top: .1em;
	width: 12px;
	height: 12px;
}

.clik-text [type="checkbox"]:checked + label:after {
	content: "\ea10";
	position: absolute;
	font-size: 14px;
	font-family: "icomoon";
	color: #00b7bd;
}

.clik-text [type="checkbox"]:not(:checked) + label:after {
	background: transparent;
}

.new-list li a {
	display: block;
	color: #b4b4b3;
}

.new-list li a.open-box {
	position: relative;
}

.new-list li a.open-box:before {
	content: "";
	position: absolute;
	top: 7px;
	right: 25px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #565656;
}

.list-w {
	position: absolute;
	padding: 10px;
	margin: 10px 0;
	background: #fff;
	z-index: 1;
	border: 1px solid #8c8a86;
}

.table-next {
	margin: 0 0 10px;
	border-bottom: 1px solid #e6e6e5;
}

.table-next tr td {
	padding: 17px 5px 30px;
}

.table-next tr td:nth-child(1) {
	width: 12%;
}

.table-next tr td:nth-child(2) {
	width: 6%;
}

.table-next tr td:nth-child(3) {
	width: 10%;
}

.table-next tr td:nth-child(4) {
	width: 4%;
}

.table-next tr td:nth-child(5) {
	width: 30%;
}

.table-next tr td:nth-child(6) {
	width: 6%;
}

.table-next tr td:nth-child(7) {
	width: 4%;
	min-width: 63px;
}

.table-next tr td:nth-child(8) {
	width: 4%;
	min-width: 63px;
}

.table-next tr td:nth-child(9) {
	width: 6%;
	min-width: 63px;
}

.table-next tr td:nth-child(10) {
	width: 5%;
	min-width: 63px;
}

.new-table {
	width: 100%;
	margin: 0 0 15px;
}

.new-table tr th {
	position: relative;
}

.new-table tr th:last-child .new-list li a::before {
	right: 4px;
}

.new-table tr th:before {
	content: "";
	position: absolute;
	border-bottom: 1px solid #999;
	width: 100%;
	bottom: -5px;
	left: 0;
}

.new-table tr th:nth-child(1) {
	width: 8%;
	min-width: 80px;
}

.new-table tr th:nth-child(1):before {
	border-bottom: 0;
}

.new-table tr th:nth-child(2) {
	width: 8%;
	min-width: 50px;
}

.new-table tr th:nth-child(2):before {
	border-bottom: 0;
}

.new-table tr th:nth-child(3) {
	width: 8%;
	min-width: 50px;
}

.new-table tr th:nth-child(3):before {
	border-bottom: 0;
}

.new-table tr th:nth-child(4) {
	width: 13%;
	min-width: 166px;
}

.new-table tr th:nth-child(4):before {
	border-bottom: 0;
}

.new-table tr th:nth-child(5) {
	width: 6%;
	min-width: 76px;
}

.new-table tr th:nth-child(5):before {
	width: 68%;
}

.new-table tr th:nth-child(6) {
	width: 8%;
	min-width: 102px;
}

.new-table tr th:nth-child(6):before {
	width: 84%;
}

.new-table tr th:nth-child(7) {
	width: 16%;
	min-width: 220px;
}

.new-table tr th:nth-child(7):before {
	width: 92%;
}

.new-table tr th:nth-child(8) {
	width: 10%;
	min-width: 140px;
}

.new-table tr th:nth-child(8):before {
	width: 79%;
}

.new-table tr th:nth-child(9) {
	width: 10%;
	min-width: 140px;
}

.new-table tr th:nth-child(9):before {
	width: 86%;
}

.new-table tr th:nth-child(10) {
	width: 4%;
	min-width: 124px;
}

@media (min-width: 1400px) {
	.new-list li a.open-box:before {
		right: 30px;
	}
}

@media (max-width: 1300px) {
	.new-table tr th:nth-child(1) {
		min-width: 0;
	}

	.new-table tr th:nth-child(2) {
		min-width: 0;
	}

	.new-table tr th:nth-child(3) {
		min-width: 0;
	}

	.new-table tr th:nth-child(4) {
		min-width: 0;
	}
}

@media (max-width: 1200px) {
	table .first td {
		padding: 0 4px 4px;
	}
}

@media (max-width: 1024px) {
	table.table::before {
		min-width: 720px;
	}

	.new-table {
		font-size: 14px;
	}

	.new-table tr th:nth-child(7) {
		width: 20%;
		min-width: 145px;
	}

	.new-table tr th:nth-child(8) {
		min-width: 95px;
	}
}

@media (max-width: 805px) {
	table.table::before {
		min-width: 0;
		width: 100%;
	}
}

@media (max-width: 768px) {
	.top-list > li {
		margin: 0 10px;
	}

	.top-list > li a.btn-first {
		padding: 0;
	}

	.top-list > li a i {
		position: relative;
	}

	.top-list > li a span {
		display: none;
	}

	.top-list > li .circle {
		display: none;
	}

	.open-list {
		padding: 0;
	}

	.steps-box li .txt {
		display: none;
	}

	.steps-box li:nth-child(1) {
		width: 25%;
	}

	.steps-box li:nth-child(2) {
		width: 25%;
	}

	.steps-box li:nth-child(3) {
		width: 25%;
	}

	.steps-box li:nth-child(4) {
		width: 25%;
	}

	.table-holder {
		overflow-x: scroll;
	}

	table .first td:nth-child(1) {
		min-width: 130px;
	}

	table .first td:nth-child(2) {
		min-width: 70px;
	}

	table .first td:nth-child(3) {
		min-width: 70px;
	}

	table .first td:nth-child(4) {
		min-width: 70px;
	}

	table .first td:nth-child(5) {
		min-width: 130px;
	}

	.table-next tr td:nth-child(1) {
		min-width: 130px;
	}

	.table-next tr td:nth-child(2) {
		min-width: 70px;
	}

	.table-next tr td:nth-child(3) {
		min-width: 70px;
	}

	.table-next tr td:nth-child(4) {
		min-width: 70px;
	}

	.table-next tr td:nth-child(5) {
		min-width: 130px;
	}
}

@media (max-width: 480px) {
	.content-section {
		padding: 30px 0;
	}
}
