// forms
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
	border: 0;
	border-bottom: 1px solid $gray-3;
	outline: none;
	width: 100%;
	padding: 2px 25px 2px 0;
	color: $black-2;


	// &:hover {

	// }

	&:focus {
		border-color: $form-element-focus-border-color;
	}

	@include placeholder {
		color: $gray-3;
	}
}

// select {
// 	-webkit-border-radius: 0;
// }

textarea {
	resize: vertical;
	vertical-align: top;
	outline: none;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	outline: none;
	cursor: pointer;
}