#wrapper {
  position: relative;
  overflow: hidden;
}

#main {
  display: flex;
}

.resize-active {
  * {
    transition: none !important;
  }
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

.nav-opener {
  position: absolute;
  top: 2px;
  right: 5px;
  width: 13px;
  height: 12px;

  i {
    font-size: 14px;
    font-weight: 600;
    color: $orange;
  }

  .nav-active & {
    transform: rotate(-180deg);

  }
}

.nav-opener {
  top: 6px;
}

i {
  font-weight: 600;
}

.drop {
  padding: 25px 0;
}

.menu {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  width: 50px;
  height: 100vh;
  position: absolute;
  background: $white;
  z-index: 1;

  .nav-active & {
    width: 160px;

    #nav {
      li {
        a {
          padding: 12px 66px 12px 15px;
          box-sizing: border-box;

          &.active,
          &:hover,
          &:focus {
            color: $orange;
            border-right: 2px solid #e37222;
            box-sizing: border-box;
            padding: 12px 64px 12px 15px;
          }

          .box-icon {
            opacity: 1;
            display: block;
            transition: opacity .3s ease-in;
          }
        }
      }
    }
  }
}

#nav {
  @extend %listreset;

  li {
    a {
      display: flex;
      justify-content: space-between;
      padding: 12px 0 12px 15px;
      box-sizing: border-box;

      i {
        font-size: 18px;
        font-weight: 600;
      }

      &.active,
      &:hover,
      &:focus {
        color: $orange;
        border-right: 2px solid #e37222;
        box-sizing: border-box;
        padding: 12px 0 12px 15px;
      }

      .box-icon {
        padding: 0 0 0 10px;
        letter-spacing: -0.5px;
        opacity: 0;
        display: none;
      }
    }
  }
}

.content-section {
  width: 98.5%;
  height: 100vh;

  @include media('<=phone') {
    padding: 30px 0;
  }

  .container {
    padding: 0 0 0 70px;
  }
}

.row-section {
  padding: 20px 0;

  &.big-block {
    padding: 15px 0;
  }
}

.steps-box {
  @extend %listreset;
  display: flex;
  justify-content: space-between;

  li {
    margin: 0 24px 0 0;
    position: relative;

    .txt {
      display: block;
      color: $green;
      padding: 0 15px 2px;

      @include media ('<=tablet') {
        display: none;
      }
    }

    i {
      position: absolute;
      right: -26px;
      bottom: -15px;
      border-radius: 50%;
      padding: 4px;

      &.all-bg {
        background: $green;
        color: $white;
      }
    }

    &:nth-child(1) {
      border-bottom: 2px solid $green;
      width: 10%;

      @include media ('<=tablet') {
        width: 25%;
      }

      i {
        border: 2px solid $green;
      }
    }

    &:nth-child(2) {
      border-bottom: 2px solid $green;
      width: 30%;
      display: flex;
      flex-direction: row-reverse;

      @include media ('<=tablet') {
        width: 25%;
      }

      i {
        border: 2px solid $green;
      }
    }

    &:nth-child(3) {
      border-bottom: 2px solid $green;
      width: 30%;
      display: flex;
      flex-direction: row-reverse;

      @include media ('<=tablet') {
        width: 25%;
      }

      i {
        color: $green;
        border: 2px solid $green;
      }
    }

    &:nth-child(4) {
      border-bottom: 1px solid $gray-3;
      width: 30%;
      display: flex;
      flex-direction: row-reverse;

      @include media ('<=tablet') {
        width: 25%;
      }

      .txt {
        color: $gray-3;
      }

      i {
        color: $gray-3;
        border: 2px solid $gray-3;
      }
    }
  }
}

.title {
  color: $green;
  border-bottom: 1px solid $orange;
  display: inline-block;
  margin: 0 0 5px;

  p {
    margin: 0 0 2px;
  }
}

form {
  display: flex;
  align-items: flex-end;
  margin: 0 -12px;
}

.col-i {
  max-width: 320px;
  width: 100%;
  padding: 0 12px;

  .inpput-holder {
    display: block;
    position: relative;

    input {
      padding: 2px 20px 2px 0;
    }

    i {
      position: absolute;
      right: 3px;
      top: 1px;
      font-size: 14px;
    }
  }

  .holder {
    display: flex;
    flex-direction: column;

    label {
      font-size: 14px;
    }
  }
}

.table-holder {
  padding: 5px 0;

  @include media ('<=tablet') {
    overflow-x: scroll;
  }
}

table {
  width: 100%;
  text-align: left;
  color: $gray-3;

  &.table {
    margin: 0 0 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 63%;
      min-width: 803px;
      bottom: -3px;
      right: 0;
      border-bottom: 1px solid #e6e6e5;

      @include media ('<=desktop') {
        min-width: 720px;
      }

      @include media ("<=805px") {
        min-width: 0;
        width: 100%;
      }
    }
  }

  .first {
    font-size: 14px;
    border-bottom: 1px solid #e6e6e5;

    td {
      padding: 0 0 4px;

      @include media ('<=widescreen') {
        padding: 0 4px 4px;
      }

      .end {
        text-align: end;
        display: block;
        min-width: 55px;
      }

      .center-b {
        text-align: center;
      }

      .left-b {
        text-align: left;
      }

      &:nth-child(1) {
        width: 12%;

        @include media ('<=tablet') {
          min-width: 130px;
        }
      }

      &:nth-child(2) {
        width: 6%;

        @include media ('<=tablet') {
          min-width: 70px;
        }
      }

      &:nth-child(3) {
        width: 10%;

        @include media ('<=tablet') {
          min-width: 70px;
        }
      }

      &:nth-child(4) {
        width: 4%;

        @include media ('<=tablet') {
          min-width: 70px;
        }
      }

      &:nth-child(5) {
        width: 30%;
        padding: 0 12px 4px 22px;

        @include media ('<=tablet') {
          min-width: 130px;
        }
      }

      &:nth-child(6) {
        width: 6%;
        padding: 0 15px 4px 0;
      }

      &:nth-child(7) {
        width: 4%;
      }

      &:nth-child(8) {
        width: 4%;
      }

      &:nth-child(9) {
        width: 6%;
      }

      &:nth-child(10) {
        width: 5%;
      }
    }

  }
}

.center-b {
  text-align: center;
}

tbody {
  .inpput-holder {
    display: flex;
    position: relative;
    padding: 0 0 0 16px;

    a {
      position: absolute;
      right: 5px;
      top: 4px;
      font-size: 12px;
    }
  }

  tr {
    td {
      padding: 17px 5px;
    }
  }
}

.holder-button {
  text-align: end;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .clik-text {
    margin: 0 0 20px;
    position: relative;
    display: inline-block;

    label {
      cursor: pointer;

      .green-txt {
        color: $green;
        border-bottom: 1px solid $green;
        display: inline-block;
      }
    }
  }
}

.big-btn {
  color: $white;
  display: inline-block;
  text-transform: uppercase;
  background: $orange-2;
  padding: 10px 76px;
  font-size: 16px;

  &:hover {
    box-shadow: 2px 2px 7px $black;
  }
}

.b-border {
  display: inline-block;
  border-bottom: 1px solid $gray-3;
  padding: 2px 0;
  margin: 0 20px;
}

.end-b {
  text-align: end;

  .box-check {
    position: relative;
    display: inline-block;

    [type="checkbox"]:checked,
    [type="checkbox"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }

    [type="checkbox"]:checked+label,
    [type="checkbox"]:not(:checked)+label {
      position: relative;
      cursor: pointer;
      font-size: 14px;
      padding-left: 40px;
      letter-spacing: -.5px;
      line-height: 1.6;

      &:before {
        content: "";
        position: absolute;
        left: 10px;
        top: .1em;
        width: 20px;
        height: 20px;
        border: 1px solid $gray-3;
        border-radius: 2px;
      }

      &:after {
        content: "";
        position: absolute;
        left: 14px;
        top: 5px;
        width: 12px;
        height: 12px;
      }
    }

    [type="checkbox"]:checked+label {

      &:after,
      &:before {
        content: "";
        position: absolute;
      }

      &:after {
        background: $green;
        width: 12px;
        height: 2px;
        top: 12px;
        left: 9px;
        transform: rotate(45deg);
      }

      &:before {
        background: $green;
        width: 25px;
        height: 2px;
        top: 8px;
        left: 15px;
        transform: rotate(-45deg);
      }
    }

    [type="checkbox"]:not(:checked)+label {
      &:after {
        background: transparent;
      }
    }
  }
}

.clik-text {
  [type="checkbox"] {
    width: 5%;
  }

  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  [type="checkbox"]:checked+label,
  [type="checkbox"]:not(:checked)+label {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    padding-left: 40px;
    line-height: 1.6;

    &:before {
      content: "";
      position: absolute;
      left: 15px;
      top: .1em;
      width: 18px;
      height: 18px;
      border: 1px solid $gray-3;
      border-radius: 2px;
    }

    &:after {
      content: "";
      position: absolute;
      left: 1.2em;
      top: .1em;
      width: 12px;
      height: 12px;
    }
  }

  [type="checkbox"]:checked+label {

    &:after {
      content: "\ea10";
      position: absolute;
      font-size: 14px;
      font-family: 'icomoon';
      color: $green;
    }

  }

  [type="checkbox"]:not(:checked)+label {
    &:after {
      background: transparent;
    }
  }
}

.new-list {
  @extend %listreset;

  li {
    a {
      display: block;
      color: #b4b4b3;

      &.open-box {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 7px;
          right: 25px;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid $black-2;

          @include media('>=1400px') {
            right: 30px;
          }
        }
      }
    }
  }
}

.list-w {
  @extend %listreset;
  position: absolute;
  padding: 10px;
  margin: 10px 0;
  background: $white;
  z-index: 1;
  border: 1px solid $gray-2;
}

.table-next {
  margin: 0 0 10px;
  border-bottom: 1px solid #e6e6e5;

  tr {
    td {
      padding: 17px 5px 30px;

      &:nth-child(1) {
        width: 12%;

        @include media ('<=tablet') {
          min-width: 130px;
        }
      }

      &:nth-child(2) {
        width: 6%;

        @include media ('<=tablet') {
          min-width: 70px;
        }
      }

      &:nth-child(3) {
        width: 10%;

        @include media ('<=tablet') {
          min-width: 70px;
        }
      }

      &:nth-child(4) {
        width: 4%;

        @include media ('<=tablet') {
          min-width: 70px;
        }
      }

      &:nth-child(5) {
        width: 30%;

        @include media ('<=tablet') {
          min-width: 130px;
        }
      }

      &:nth-child(6) {
        width: 6%;
      }

      &:nth-child(7) {
        width: 4%;
        min-width: 63px;
      }

      &:nth-child(8) {
        width: 4%;
        min-width: 63px;
      }

      &:nth-child(9) {
        width: 6%;
        min-width: 63px;
      }

      &:nth-child(10) {
        width: 5%;
        min-width: 63px;
      }
    }
  }
}

.new-table {
  width: 100%;
  margin: 0 0 15px;

  @include media('<=desktop') {
    font-size: 14px;
  }

  tr {
    th {
      position: relative;

      &:last-child {
        .new-list {
          li {
            a {
              &::before {
                right: 4px;
              }
            }
          }
        }
      }

      &:before {
        content: '';
        position: absolute;
        border-bottom: 1px solid $gray;
        width: 100%;
        bottom: -5px;
        left: 0;

      }

      &:nth-child(1) {
        width: 8%;
        min-width: 80px;

        &:before {
          border-bottom: 0;
        }

        @include media ('<=1300px') {
          min-width: 0;
        }
      }

      &:nth-child(2) {
        width: 8%;
        min-width: 50px;

        &:before {
          border-bottom: 0;
        }

        @include media ('<=1300px') {
          min-width: 0;
        }
      }

      &:nth-child(3) {
        width: 8%;
        min-width: 50px;

        &:before {
          border-bottom: 0;
        }

        @include media ('<=1300px') {
          min-width: 0;
        }
      }

      &:nth-child(4) {
        width: 13%;
        min-width: 166px;

        &:before {
          border-bottom: 0;
        }

        @include media ('<=1300px') {
          min-width: 0;
        }
      }

      &:nth-child(5) {
        width: 6%;
        min-width: 76px;

        &:before {
          width: 68%;
        }
      }

      &:nth-child(6) {
        width: 8%;
        min-width: 102px;

        &:before {
          width: 84%;
        }
      }

      &:nth-child(7) {
        width: 16%;
        min-width: 220px;

        &:before {
          width: 92%;
        }

        @include media('<=desktop') {
          width: 20%;
          min-width: 145px;
        }
      }

      &:nth-child(8) {
        width: 10%;
        min-width: 140px;

        &:before {
          width: 79%;
        }

        @include media('<=desktop') {
          min-width: 95px;
        }
      }

      &:nth-child(9) {
        width: 10%;
        min-width: 140px;

        &:before {
          width: 86%;
        }
      }

      &:nth-child(10) {
        width: 4%;
        min-width: 124px;

      }
    }
  }
}