#header {
  padding: 12px 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.head-holder {
  display: flex;
  justify-content: space-between;
}

.logo {
  min-width: 106px;
}

.top-list {
  @extend %listreset;
  display: flex;
  align-items: center;

  >li {
    position: relative;
    margin: 0 26px;

    @include media ('<=tablet') {
      margin: 0 10px;
    }

    a {
      font-size: 14px;
      position: relative;

      &.btn-first {
        padding: 0 0 0 30px;

        @include media ('<=tablet') {
          padding: 0;
        }
      }

      i {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;

        @include media ('<=tablet') {
          position: relative;
        }
      }

      span {
        display: block;

        @include media ('<=tablet') {
          display: none;
        }
      }

      &:hover {
        color: $black-2;
      }
    }

    .circle {
      border-radius: 50%;
      position: absolute;
      right: -25px;
      top: -14px;
      width: 38px;
      height: 40px;
      overflow: hidden;

      @include media ('<=tablet') {
        display: none;
      }
    }

    &.active {
      .open-list {
        &::before {
          transform: translate(90px, 8px) rotate(-45deg);
        }

        &::after {
          transform: translate(14px, 8px) rotate(45deg);
        }
      }
    }
  }
}

.open-list {
  right: 14px;
  padding: 0 28px 0 0;
  position: static;
  right: 14px;
  top: 0;
  color: $black-2;
  transition: transform .3s ease-in;

  @include media ('<=tablet') {
    padding: 0;
  }

  &::before,
  &::after {
    content: '';
    background: $black;
    position: absolute;
  }

  &::before {
    width: 10px;
    height: 2px;
    transform: translate(90px, 8px) rotate(45deg);
  }

  &::after {
    width: 10px;
    height: 2px;
    transform: translate(14px, 8px) rotate(-45deg);
  }
}

.list {
  @extend %listreset;
  position: absolute;
  padding: 10px;
  width: 85%;
  margin: 10px 0;
  background: $white;
  z-index: 1;
  border: 1px solid $gray-2;

  li {
    margin: 0 0 10px;
  }
}